.form-style-3 {
    max-width: 90%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 10%;

}

.form-style-3 label {
    display: block;
    margin-bottom: 10px;
}

.form-style-3 label>span {
    float: left;
    width: 100px;
    color: #0863f5;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}

.form-style-3 fieldset {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #d2eaff;
    padding: 20px;
    background: #FFF4F4;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
    align-items: center;

}

.form-style-3 fieldset legend {
    color: #5890f2;
    border-top: 1px solid #d2fbff;
    border-left: 1px solid #d2fffb;
    border-right: 1px solid #d2fffb;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #f4fbff;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #f1f1f1;
    -moz-box-shadow: -0px -1px 2px #f1f1f1;
    -webkit-box-shadow: -0px -1px 2px #f1f1f1;
    font-weight: normal;
    font-size: 12px;
}

.form-style-3 textarea {
    width: 250px;
    height: 100px;
}

.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select,
.form-style-3 textarea {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #c2e6ff;
    outline: none;
    color: #60aef785;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #d5fbff;
    -moz-box-shadow: inset 1px 1px 4px #d5edff;
    -webkit-box-shadow: inset 1px 1px 4px #d5f3ff;
    background: #effeff;
    width: 80%;
}

.form-style-3 input[type=submit],
.form-style-3 input[type=button] {
    background: #3bc2eb9c;
    border: 1px solid #4ac0c9;
    padding: 5px 15px 5px 15px;
    color: #fd0675;
    box-shadow: inset -1px -1px 3px #62f7ff;
    -moz-box-shadow: inset -1px -1px 3px #62e0ff;
    -webkit-box-shadow: inset -1px -1px 3px #62c5ff;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
}

.required {
    color: red;
    font-weight: normal;
}